## Test cases for the Cadence package ##

In [1]:
import sys
import os
import pandas as pd
import numpy as np


# There is a warning in the timeboard library that we want to suppress here
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Appearance of the Notebook
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Import the package
%load_ext autoreload
%autoreload 2
import cadence
from cadence.mscheduler import Meetings
from cadence.utils import GroupFaker
print(f'Package version: {cadence.__version__}')

Package version: 0.0.2.post1.dev1+g6f23dc2.d20240825

In [7]:
gf = GroupFaker(n_members=9, n_groups=2)
my_group = gf.create_fake_research_group()
display(my_group)
assert my_group.shape == (9, 4)

               name first_name  last_name    group
0   Brandon Russell    Brandon    Russell  group_0
1     Charles Tyler    Charles      Tyler  group_0
2  Evelyn Christian     Evelyn  Christian  group_0
3        Kyle Jones       Kyle      Jones  group_0
4      Thomas Berry     Thomas      Berry  group_0
5      Aaron Graham      Aaron     Graham  group_1
6       George Cook     George       Cook  group_1
7  Jerome Whitehead     Jerome  Whitehead  group_1
8    Steven Johnson     Steven    Johnson  group_1

In [6]:
my_group.shape

(9, 4)